/* Var */
$main_color: #707B82;
$font_color: #ffffff;
* {
	margin: 0;
	padding: 0;
}

.flex-conteiner {
	display: flex;
}
.items {
		padding: 5px 10px;
	}

header {
	color: $font_color;
	background-color: $main_color;
	height: 1.8em;
}