/* Var */
$main_color: #707B82;
$font_color: #ffffff;
$font_size: 3em;
* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #EAE8EA;
}
.flex-conteiner{
	display: flex;
}
.flex-conteiner.content {
	flex-wrap: wrap;
	flex-direction: row;
}
.flex-conteiner.logo {
	padding: 20px 30px;
	align-items: center;
}

.items {
	margin-top: 10px;
	padding: 10px;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 8px;
	order: 0;
	width: 100%;
	justify-content: center;
	background-color: #fff;
	flex-direction: column;
	flex-wrap: wrap;
}
.first-child {
	justify-content: center;
	flex-grow: 5;
	flex-shrink: 3;
	flex-basis: auto;
	flex-wrap: wrap;

	height: 50px;
	line-height: 50px;
	overflow-y: hidden;
	margin-right: 10px;
	padding-left: 10px;
	font-size: 1.5em;
	border: 2px solid silver;
	border-radius: 3px;
}
.last-child {
	justify-content: center;
	flex-wrap: wrap;

	align-self: center;
	height: 50px;
	width: 100px;
	font-size: 1.5em;
	border-radius: 3px;
}

header {
	color: $font_color;
	background-color: $main_color;
	font-size: $font_size;
	height: 1em;
}
button {
	border: 1px solid silver;
	padding: 5px;
}
/* Module Window */
.hidden {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	border: 1px solid #9A9A9A;
	background-color: rgba(0, 0, 0, .8);
	display: none;
}
.popup {
	position: absolute;
	width: 80%;
	height: 500px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -80%);
	box-sizing: border-box;
	background-color: #fff;
	color: #000;
}
.header-modale {
	position: relative;
	border: 1px solid #80B6E7;
	height: 30px;
	line-height: 30px;
	
	padding-left: 17px;

	background-color: #707B82;
	color: #ECEDEF;
}

.close-popup {
	justify-content: flex-end;
	top: 15px;
	left: 15px;
	cursor: pointer;

}

.main {
	margin: 30px;
}
textarea {
	resize: none;
}
/* Tabs */
.tabs {
	width: 100%;
	margin: 0 0 30px;
	padding: 13px;

	button {
		height: 26px;
		margin-top: 7px;
		margin-left: 2px;
	}
}
.save {
	background-color: #3F8ECC;
	color: #E0ECF6;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin-top: 12px;
	border-top: 1px solid silver;
}
.tabs__caption {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	list-style: none;
	position: relative;
	border-bottom: 1px solid silver;
}
.tabs__caption li:last-child:before {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	right: -2px;
	z-index: -1;
	height: 5px;
	background: #fff;
}

.tabs__caption li {
	width: 50%;
	padding: 9px 0;
	background: #fff;
	color: #000;
	position: relative;
	text-align: center;
}
.tabs__caption li:not(.active) {
	cursor: pointer;
}
.tabs__caption li:not(.active):hover {
	color: #37D8FB;
}
.tabs__caption .active {
	color: #37D8FB;
}

.tabs__content {
	display: none;
	background: #FFF;
	margin: 10px 0;
	padding: 7px 15px;
}
.tabs__content.active {
	color: silver;
	display: block;
	input.tab1 {
		display: flex;
		justify-content: flex-end;
		margin-top: 12px; 
		width: 99.8%;
		border: 1px solid silver;
		border-radius: 1px;
	}
}
#name-project {
	height: 20px;
}
#description-project {
		height: 200px;
		display: flex;
	justify-content: flex-end;
	margin-top: 12px; 
	width: 99.8%;
	border: 1px solid silver;
	border-radius: 1px;
}
label {
	display: flex;
	align-content: flex-start;
}
.all_users {
	display: inline-flex;
	width: 49%;
	color: #000;
}
.sel_users {
	display: inline-flex;
	width: 49%;
	color: #000;
}